body {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.main-container {
	padding: 80px 5px;
}
.cards-container {
	padding: 5px;
	// border: 1px solid RED;
	display: flex;
	flex-direction: horizontal;
	flex-wrap: wrap;
}
.card {
	position: relative;
	height: 100%;
	border: 1px solid #cbcbd0;
	margin: 10px;
	margin-bottom: 50px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 2px 3px 7px 1px #c5c3c3;
	transition: all .3s;
}
.card:hover {
	box-shadow: 0 15px 40px rgba(0,0,0,0.4);
	transform: translate(0px, -4px);
}
.top-section {
	height: 220px;
}
.bottom-section {
	height: 125px;
	background-color: #fff;
}
.left-section,.right-section {
	// height: 300px;
	width: 48%;
	min-width: 150px;
	display: inline-block;
}
.image-container {
	padding: 10px;
	position: absolute;
}
.image-container > img {
	width: 130px;
	height: 220px;
	transform: translateY(-70px);
}
.movie-detail {
	position: absolute;
	padding: 10px;
}
.movie-name {
	color: #333;
	font-weight: 400;
	font-size: 16px;
	min-height: 50px;
	height: 50px
}
.movie-languages {
	color: #666;
	font-size: 14px;
	height: 30px;
}
.language-list {
	padding: 0px;
}
.language {
	float: left;
	margin-right: 3px;
}
.side-block {
	display: block;
	height: 50px;
	border-left: 5px solid #666;
}
.movie-genre {
	height: 50px;
	padding: 15px;
}
.genre-list {
	margin: 0px;
}
.genre {
	float: left;
	padding: 2px 5px;
	font-size: 11px;
	color: #9A7;
	text-transform: uppercase;
	background-color: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #dfdfdf;
	margin-right: 10px;
}
.buy-now {
	padding: 15px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	background-color: #c02c39;
	text-transform: uppercase;
	text-align: center;
}
